<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>World Cup Predictor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_NavPartial")
    <div id="container-fluid">
        <div class="row">
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("_SideNav")
            }
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                 @RenderBody()
            </main>
            @*<footer class="footer">
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - World Cup Predictor</p>
                </div>
            </footer>*@
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
